<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fichaje</title>
</head>
<body>
    <h1>Fichaje</h1>
    <form action="/iniciarFichaje" method="post">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario">
        <button type="submit">Iniciar Fichaje</button>
    </form>
    <form action="/terminarFichaje" method="post">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario">
        <button type="submit">Terminar Fichaje</button>
    </form>
</body>
</html>
