<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoClock</title>
</head>
<body>
    <a href="/fichar">Fichar</a>
    <% if(login) { %>
        <h1>El usuario conectado es: <strong><%= usuario %></strong></h1>
        <a href="cerrarsesion">Cerrar sesión</a>
    <% } else { %>
        <h1><strong><%= usuario %></strong></h1>
        <a href="iniciosesion">Iniciar sesión</a>
    <% } %>
</body>
</html>