<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título -->
    <title>JoClock</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/css/icons/JOCLOCK_ISOTIPO.svg" type="image/x-icon">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- AOS Animate -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Estilo propio -->
    <link rel="stylesheet" href="/css/inicio.css">
    <!-- FUENTE DE GOOGLE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Scripts a mano -->
    <script defer src="/css/js/script.js"></script>
    <script defer src="/css/js/inicio.js"></script>
</head>
<body>

<!-- Cabecera -->
<header class="cabecera" id="cabecera">
    <!-- Logo -->
    <div class="logo actualLogo">
        <a href="/"><img src="/css/icons/JOCLOCK_LOGOTIPO.svg" alt=""></a>
    </div>

    <!-- Contenedor para los elementos de navegación -->
    <nav class="opciones-navegacion">
        <a href="/fichar" class="cabecera-link" id="primero">Fichar</a>
        <a href="/tareas" class="cabecera-link">Tareas</a>
        <a href="/noticias" class="cabecera-link" id="ultimo">Noticias</a>
    </nav>
    
    <!-- Modo claro u oscuro -->
    <div class="modo" id="modo">
        <img src="/css/icons/moon.png" alt="" id="modo-icono">
        <p id="modo-texto">Modo oscuro</p>
    </div>
    
    <!-- Apartado de iniciar sesión -->
    <div class="apartado-sesion">
        <div class="apartado-sesion-principal">
            <div class="logo-sesion">
                <a href="<%= login ? 'cerrarsesion' : 'iniciosesion' %>">
                    <i class="bi bi-person-bounding-box"></i>
                </a>
            </div>
            <div class="nombre-sesion">
                <% if(login) { %>
                    <a href="cerrarsesion"><h4><%= usuario %></h4></a> 
                <% } else { %>
                    <h4></h4>
                <% } %>
            </div>
        </div>
        <div class="opcion-sesion">
            <% if(login) { %>
                <a href="cerrarsesion">Cerrar sesión</a>
            <% } else { %>
                <a href="iniciosesion">Iniciar sesión</a>
            <% } %>
        </div>
    </div>

    <button id="menu-boton" class="intercambio-navegacion">
        &#9776
    </button>
</header>

<!-- Main -->
<main>
    <section id="inicio">
        <div class="container">
            <div class="row">
                <article class="col-lg-5" data-aos="fade-right" data-aos-duration="2000">
                    <div class="cont-foto">
                        <img src="/css/img/Imagen_Main.jpg" alt="Imagen Inicio">
                    </div>
                </article>
                <article class="col-lg-7 cont-info" data-aos="fade-left" data-aos-duration="2000">
                    <h1 class="titulo-principal"></h1>
                    <p>Trabaja de la mejor forma posible y sin
                        dificultades. <br> ¡Estar cómodo y disfrutar del trabajo es importante!
                    </p>
                    <div class="row">
                        <article class="col-md-4">
                            <h2>4.5<i class='bx bx-star icono-main-estrella'></i></h2>
                            <p>Calificación promedia de la aplicación por parte de los clientes.</p>
                        </article>
                        <article class="col-md-4">
                            <h2><i class='bx bx-lock-alt icono-main'></i></h2>
                            <p>Gran seguridad con cifrado de contraseñas garantizado.</p>
                        </article>
                        <article class="col-md-4">
                            <h2><i class='bx bx-like icono-main'></i></h2>
                            <p>Aplicación completamente gratuita para todo el mundo.</p>
                        </article>
                    </div>
                </article>
            </div>
        </div>
    </section>
    
    <!-- Servicios -->
    <section id="servicios">
        <div class="container">
            <h1 class="titulo-inicio">Nuestros Servicios</h1>
            <p class="texto-titulo">Bienvenido a tu aplicación de confianza para fichar,
                organizar tus tareas del día a día 
                y compartir tus diferentes novedades con tus compañeros de trabajo. ¡Haz tus días de trabajo más amenos!
            </p>
        </div>
    
        <div class="row align-items-stretch">
            <article class="col-lg-3 col-md-6 d-flex" data-aos="fade-up" data-aos-duration="2000">
                <div class="tarjeta-servicios flex-fill">
                    <img src="/css/img/Icono_Uno.png" alt="Icono">
                    <h3>01</h3>
                    <h4>Aprovecha tu tiempo</h4>
                    <p>Estate al tanto de cuanto tiempo llevas trabajando y qué cosas
                        puedes hacer mientras tanto.
                    </p>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 d-flex" data-aos="fade-down" data-aos-duration="2000">
                <div class="tarjeta-servicios flex-fill">
                    <img src="/css/img/Icono_Dos.png" alt="Icono">
                    <h3>02</h3>
                    <h4>Trabaja en equipo</h4>
                    <p>Pon al día a tus compañeros de tus novedades. Pide ayuda si lo necesitas y ayuda a los
                        demás en lo que puedas.
                    </p>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 d-flex" data-aos="fade-up" data-aos-duration="2000">
                <div class="tarjeta-servicios flex-fill">
                    <img src="/css/img/Icono_Tres.png" alt="Icono">
                    <h3>03</h3>
                    <h4>Organiza tus tareas</h4>
                    <p>Piensa en todo lo que tienes que hacer, apúntate las tareas,
                        ve completandolas para eliminarlas y agrega otras nuevas.
                    </p>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 d-flex" data-aos="fade-down" data-aos-duration="2000">
                <div class="tarjeta-servicios flex-fill">
                    <img src="/css/img/Icono_Cuatro.png" alt="Icono">
                    <h3>04</h3>
                    <h4>Estate informado de noticias</h4>
                    <p>Observa diariamente el apartado de noticias para 
                        saber todas las novedades de la empresa.
                    </p>
                </div>
            </article>
        </div>
    </section>
    
    <!-- Clientes -->
    <section id="clientes">
        <div class="container">
            <h1 class="titulo-inicio">Clientes Destacados</h1>
            <div class="row">
                <article class="col-lg-4 tarjetas-destacadas" data-aos="fade-up" data-aos-duration="2000">
                    <img src="/css/img/Vans.jpg" alt="Cliente Destacado">
                    <div class="info-destacadas">
                        <h3>Vans</h3>
                        <p>Aplicación utilizada principalmente para gestionar fichaje de sus trabajadores.</p>
                    </div>
                </article>
                <article class="col-lg-4 tarjetas-destacadas" data-aos="fade-down" data-aos-duration="2000">
                    <img src="/css/img/IBM.png" alt="Cliente Destacado">
                    <div class="info-destacadas">
                        <h3>IBM</h3>
                        <p>Uso de la aplicación para gestionar fichajes y manejo de tareas de los trabajadores.</p>
                    </div>
                </article>
                <article class="col-lg-4 tarjetas-destacadas puma" data-aos="fade-up" data-aos-duration="2000">
                    <img src="/css/img/Puma.png" alt="Cliente Destacado">
                    <div class="info-destacadas">
                        <h3>Puma</h3>
                        <p>Aplicación usada para la organización de todos sus empleados.</p>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <!-- Nuestro equipo -->
    <section id="equipo">
        <div class="container">
            <h1 class="titulo-inicio">Nuestro Equipo</h1>
            <p class="texto-titulo">Observa nuestro equipo de confianza que hace que la empresa siga adelante
                día tras día. Todos los miembros son importantes y aportan su granito de arena para llegar a lo más alto,
                ¡ayúdanos a conseguirlo con tu árduo trabajo!
            </p>
        </div>
        <!-- Carrusel JQuery -->
        <div class="slide hi-slide" data-aos="fade-up" data-aos-duration="2000">
            <div class="hi-prev"></div>
            <div class="hi-next"></div>
            <ul>
                <li>
                    <img src="/css/img/EmpleadoUno.jpeg" alt="Empleado">
                    <div class="cargo"><p>Administrador</p></div>
                </li>
                <li>
                    <img src="/css/img/EmpleadoDos.jpeg" alt="Empleado">
                    <div class="cargo"><p>Frontend Developer</p></div>
                </li>
                <li>
                    <img src="/css/img/EmpleadoTres.jpeg" alt="Empleado">
                    <div class="cargo"><p>Encargada de RRHH</p></div>
                </li>
                <li>
                    <img src="/css/img/EmpleadoCuatro.jpg" alt="Empleado">
                    <div class="cargo"><p>Backend Developer</p></div>
                </li>
                <li>
                    <img src="/css/img/EmpleadoCinco.jpg" alt="Empleado">
                    <div class="cargo"><p>Marketing Manager</p></div>
                </li>
                <li>
                    <img src="/css/img/EmpleadoDoce.jpg" alt="Empleado">
                    <div class="cargo"><p>Diseñadora</p></div>
                </li>
                <li>
                    <img src="/css/img/EmpleadoSiete.jpg" alt="Empleado">
                    <div class="cargo"><p>Full-Stack Developer</p></div>
                </li>
            </ul>
            
        </div>

        <!-- Carrusel de Bootstrap -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="width: 150px; margin: 0 auto;" data-aos="fade-up" data-aos-duration="2000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/css/img/EmpleadoUno.jpeg" class="d-block w-100" alt="Empleado">
                    <div class="cargo"><p>Administrador</p></div>
                </div>
                <div class="carousel-item">
                    <img src="/css/img/EmpleadoDos.jpeg" class="d-block w-100" alt="Empleado">
                    <div class="cargo"><p>Frontend Developer</p></div>
                </div>
                <div class="carousel-item">
                    <img src="/css/img/EmpleadoTres.jpeg" class="d-block w-100" alt="Empleado">
                    <div class="cargo"><p>Encargada de RRHH</p></div>
                </div>
                <div class="carousel-item">
                    <img src="/css/img/EmpleadoCuatro.jpg" class="d-block w-100" alt="Empleado">
                    <div class="cargo"><p>Backend Developer</p></div>
                </div>
                <div class="carousel-item">
                    <img src="/css/img/EmpleadoCinco.jpg" class="d-block w-100" alt="Empleado">
                    <div class="cargo"><p>Marketing Manager</p></div>
                </div>
                <div class="carousel-item">
                    <img src="/css/img/EmpleadoDoce.jpg" class="d-block w-100" alt="Empleado">
                    <div class="cargo"><p>Diseñadora</p></div>
                </div>
                <div class="carousel-item">
                    <img src="/css/img/EmpleadoSiete.jpg" class="d-block w-100" alt="Empleado">
                    <div class="cargo"><p>Full-Stack Developer</p></div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev" style="left: -30px;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next" style="right: -30px;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</main>


<!-- Footer -->
<footer class="footer py-5">
    <!-- Contenedor -->
    <div class="container">
        <div class="row">
            <!-- Datos de Contacto -->
            <div class="col-md-6">
                <h5>Contacto</h5>
                <p><span class="bolder">Dirección:</span> 123 Calle Principal, Madrid</p>
                <p><span class="bolder">Teléfono:</span> +34 691 123 783</p>
                <p><span class="bolder">Email:</span> JoClockApp@gmail.com</p>
            </div>
            <!-- Redes -->
            <div class="col-md-6 siguenos">
                <h5>Síguenos</h5>
                <ul class="list-unstyled d-flex justify-content-center redes">
                    <li class="me-3">
                        <a href="#" class="text-light">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li class="me-3">
                        <a href="https://x.com/JoClock_App" target="_blank" class="text-light">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                    <li class="me-3">
                        <a href="https://www.instagram.com/joclock.app/" target="_blank" class="text-light">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-light">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Derechos -->
        <div class="row">
            <div class="col-12 text-center derechos">
                <p class="text-light">© 2024 JoClock. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/css/JQuerySlide/jquery.hislide.js"></script>

<!-- Inicialización de JQuery Slider -->
<script>
$('.slide').hiSlide({
    interval: 100000000000
});
</script>
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!-- AOS Animate -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- Inicialización de AOS Animate -->
<script>
    AOS.init();
</script>
</body>
</html>