/* ESTILOS GLOBALES */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
}

/* CUERPO DE LA PÁGINA */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-image:url('img/hunters-race-MYbhN8KaaEc-unsplash.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}

/* ESTILOS FORMULARIO */
.wrapper{
    width:420px;
    background:transparent;
    border:2px solid rgb(167, 165, 165);
    backdrop-filter: blur(20px);
    box-shadow:0 0 10px rgba(0, 0, 0, .2);
    color:white;
    border-radius:10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size:36px;
    text-align:center;
    font-weight:600;
}

.wrapper .input-box{
    position: relative;
    width:100%;
    height:50px;
    margin:30px 0;
}

.input-box input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 40px;
    font-size:16px;
    color:#fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
}

.input-box i{
    position:absolute;
    right:20px;
    top: 50%;
    transform: translateY(-50%);
    font-size:20px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background:#fff;
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow:0 0 10px rgb(14, 14, 14);
    cursor: pointer;
    font-size: 16px;
    color:#333;
    font-weight:600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color:#fff;
    text-decoration: none;
    font-weight:600;
}

.register-link p a:hover{
    text-decoration:underline;
}

/* BOTÓN PARA VOLVER A PÁGINA DE INICIO */
.casa{
    border-radius: 50%;
    color:black;
    background-color: white;
    padding:5px;
    font-size: 18px;
    transform:translateY(10px);
}

.casa:hover{
    color:white;
    background-color: transparent;
    transition: 0.2s;
    box-shadow:0 0 10px rgb(14, 14, 14);
}

/* OJOS DE CONTRASEÑA */
#ojo{
    cursor: pointer;
}

#ojoDos{
    cursor: pointer;
}